/********** Base styles **********/
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /*Reset browser's default margin, padding, and fonts*/
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #eeeeee;*/
    background: #eeeeee; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#eeeeee, #bdbdbd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eeeeee, #bdbdbd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eeeeee, #bdbdbd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eeeeee, #bdbdbd); /* Standard syntax (must be last) */
}


h1 {
    margin-bottom: 15px;
    text-align: center;
}

/* Simple Responsive Framework. */
.menuRow {
    width: 100%;
}

section {
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.menu_title {
    width: 33.33%;
    transform: translateX(200%);
    text-align: center;
    font-weight: 700;
    border: 1px solid black;
    padding: 6px;
}

.menu_text {
    padding: 3%;
}

#menu_title_chicken {
    color: #ffffff;
    background-color: #01579b;
}
#menu_chicken {
    background: #e1f5fe; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e1f5fe, #81d4fa); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e1f5fe, #81d4fa); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e1f5fe, #81d4fa); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e1f5fe, #81d4fa); /* Standard syntax (must be last) */
}

#menu_title_beef {
    color: #ffffff;
    background-color: #b71c1c
}

#menu_beef {
    background: #ffcdd2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffcdd2, #e57373); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffcdd2, #e57373); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffcdd2, #e57373); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffcdd2, #e57373); /* Standard syntax (must be last) */
}

#menu_title_sushi {
    background-color: #ffea00;
}

#menu_sushi {
    background: #fff9c4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff9c4, #fff176); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff9c4, #fff176); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff9c4, #fff176); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff9c4, #fff176); /* Standard syntax (must be last) */
}

/********** Large devices only: i.e.: Desktops **********/
@media (min-width: 992px) {

    .col-lg-4 {
        float: left;
        border: 1px solid black;

    }

    #menu_chicken {
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 1%;
    }

    #menu_beef {
        margin-bottom: 2%;
        margin-left: 1%;
        margin-right: 1%;
    }

    #menu_sushi {
        margin-bottom: 2%;
        margin-left: 1%;
        margin-right: 2%;
    }

    .col-lg-4 {
        width: 30.666%;
    }

}

/********** Medium devices only: i.e.: Tablets **********/
@media (min-width: 768px) and (max-width: 991px) {
    #menu_title_sushi {
        width: 16.66%;
        transform: translateX(500%);
    }

    .col-md-6, .col-md-12 {
        float: left;
        border: 1px solid black;

    }

    .col-md-6 {
        width: 47%;
    }

    #menu_chicken {
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 1%;
    }

    #menu_beef {
        margin-bottom: 2%;
        margin-left: 1%;
        margin-right: 2%;
    }

    .col-md-12 {
        width: 96%;
    }
}

/********** Small devices only: i.e.: Phones **********/
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        border: 1px solid black;
    }

    .col-sm-12 {
        width: 96%;
    }
}
